.ArticleDetailsPage {
    min-height: 100vh;
}

.avatar {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 20px;
}

.skeleton {
    margin-bottom: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}