.articleDetails {
    margin-bottom: 20px;
}

.commentTitle {
    margin-bottom: 10px;
}

.recommendationsTitle {
    margin-bottom: 10px;
}

.recommendations {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin-bottom: 20px;
}