.link {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
        transition: all .2s ease;
        opacity: 1;
    }
}

.icon {
    fill: var(--primary-color)
}

.link.collapsed {
    span {
        transition: all .2s ease;
        width: 0;
        opacity: 0;
    }
}
