.SMALL {
    display: grid;
    grid-gap: 20px;

    @media (width >= 900px) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (width >= 1200px) {
        & {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (width >= 1400px) {
        & {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (width >= 1700px) {
        & {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

.BIG {
    display: grid;
    grid-gap: 20px;
}

