.Code {
    position: relative;
    border: 1px solid var(--primary-color);
    padding: 20px;
    background-color: var(--code-bg);
    overflow: auto;
}

.copy {
    position: absolute;
    right: 20px;
}

.copyIcon {
    path {
        stroke: var(--primary-color);
    }
}