.inputWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);
}

.caretWrapper {
    position: relative;
    flex-grow: 1;
}

.caret {
    display: block;
    width: 8px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    animation: blink 2s forwards infinite;
}


@keyframes blink {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.65;
    }

    100% {
        opacity: 1;
    }
}