.app_blue_theme {
    --bg-color: #e2e3e8;
    --inverted-bg-color: #363d8d;
    --primary-color: #e29324;
    --secondary-color: #d8ae73;
    --inverted-primary-color: #31a48f;
    --inverted-secondary-color: #60aea0;
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(224 162 56);
    --code-bg: #ececec;
    --card-bg: #51568a;
}