.app_dark_theme {
    --bg-color: rgb(10 45 82);
    --inverted-bg-color: rgb(168 208 251);
    --primary-color: rgb(251 54 54);
    --secondary-color: rgb(244 107 107);
    --inverted-primary-color: rgb(96 157 106);
    --inverted-secondary-color: rgb(127 192 165);
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: rgb(22 63 107);
    --card-bg: rgb(195 212 231);
    --listbox-bg: rgb(195 212 231)
 }