.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    margin-bottom: 10px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.loading {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: center;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}