.appLink {
    color: var(--primary-color); 
    transition: all .3s ease-out;

    &:hover {
        opacity: .85;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}